.App {
  background-color: #ffffff;
  padding: 40px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .App > div {
  background-color: #666;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  width: 300px;
  height: 200px;
  font-size: 30px;
  text-align: center;
} */

.App button {
  font-family: sans-serif;
  font-size: 30px;
  margin-bottom: 60px;
  margin-left: 90px;
  padding: 30px;
  align-items: center;
  color: white;
  background-color: rgb(101, 101, 101);
  justify-content: center;
}

.App button:hover {
  background-color: rgb(202, 194, 194);
}

.App p {
  font-family: sans-serif;
  font-size: 30px;
  padding: 15px;
  text-align: center;
  color: white;
  background-color: rgb(101, 101, 101);
}
