/* Styling the button */
.App {
  background-color: #ffffff;
  padding: 40px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 30px;
}

/* Styling the button */
.App button {
  font-family: sans-serif;
  font-size: 30px;
  margin-bottom: 60px;
  margin-left: 90px;
  padding: 30px;
  align-items: center;
  color: white;
  background-color: rgb(101, 101, 101);
  justify-content: center;
}

/* Add hover to button */
.App button:hover {
  background-color: rgb(202, 194, 194);
}
